# Ignore Python-related files
.env
/config.py
setup.py
*egg-info/
**/__pycache__/

# Ignore virtual environment directories
.venv/

# Ignore editor/IDE configuration files
.idea/
.vscode/

# Ignore all files in content/ except README.md
content/*
!content/README.md

# Ignore Node & Astro dependencies and build output (at any directory depth)
node_modules/
.astro/
dist/
.github/

