# Ignore Python-related files
.env
/config.py
setup.py
*egg-info/
**/__pycache__/

# Ignore virtual environment directories
.venv/

# Ignore editor/IDE configuration files
.idea/
.vscode/

# Ignore all files in data/ except README.md
data/*
!data/README.md

